* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}
a {
    text-decoration: none;
    color: inherit;
}
/* Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff0000; 
}
header .logo img {
    max-width: 50px;
    border-radius: 20px;
}
nav {
    display: flex;
    align-items: left;
    justify-content: left;
}
.nav-right a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}
.nav-right a:hover {
    color: yellow;
}
/* box */
.about-section {
padding: 3rem 2rem;
max-width: 1100px;
margin: 0 auto;
text-align: center;
}
.about-section h1 {
font-size: 2.5rem;
margin-bottom: 1rem;
}
.about-section p {
font-size: 1.1rem;
margin-bottom: 2.5rem;
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px 20px;
}
.info-box {
    background: linear-gradient(to bottom right, red, #f53a3a);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
}
.info-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.info-box h2 {
    margin: 15px 0 10px;
    font-size: 20px;
    color: white;
}
.info-box p {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}
.info-box a {
    display: inline-block;
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    margin-top: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-weight: bold;
    font-size: 14px;
    z-index: 1000;
    height: 40px;
}